.sombra{
    text-shadow: 2px 2px 5px #6959CD;
}

.sombra2{
    text-shadow: 2px 2px 5px #800000;
}

.aumentar_letra{
   font-size: 2rem;
}



.fundocintia{
    background-color: aqua;
}

.corfontecintia{
    color: crimson;
}

.justificado{
    text-align: justify;    
}

#sobre, #galeria{
    margin-top: 2%;
    margin-bottom: 2%;    
}