body{
    background-color: rgb(215, 194, 59);;
}
.colcanto {
    flex: 1 0 0%;
    padding-left: 5%;
  }
.p-3 {
    background-color: #3a52bd;
    border-style: groove;
    border-color: rgb(82, 54, 12);
  }
  .list-group-item  {
    background-color: #3a52bd;
    color: rgb(44, 28, 5);
    border-color: rgb(44, 28, 5);
  }
.annaperfil{
    width: 87%;
    height: auto;
    padding-left: 3%;
  }
.list-group {
    margin-top: 10%;
}
.container-fluid{
    background-color: #3a52bd;
}
.navbar{
    background-color: #f6f854;
}
.col-sm-4{
    padding-top: 6%;
}